<mat-toolbar>
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <span>Eng Coach</span>
  <span class="example-spacer"></span>
  <ng-container  *ngIf="loginService.isLoggedIn$ | async; else guest">
    {{ (loginService.user$ | async)?.display_name }}
    <button  mat-icon-button aria-label="logout" (click)="loginService.logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>

</mat-toolbar>
<ng-template #guest>
  <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="login">
    <mat-icon>person</mat-icon>
  </button>
</ng-template>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="loginService.loginWithGoogle()">
   Войти с Google
    </button>
    <button mat-menu-item (click)="loginService.loginWithYandex()">
    Войти с Яндекс
    </button>
</mat-menu>

